header{
  background:#BBBBBB;
  paddinng:20px;
}
.caixa{
  position:relative;
  widht:940px;
  margem: 0 auto;
}
nav{
  .position: absolute;
  top: 110px;
  right: 0;
  }
nav li{
 
  display: inline;
  margin:0 0 0 15px;
}
nav a{
  text-transform: uppercase;
  color:#000000;
  font-weight: bold;
  font-size: 22px;
  text-decoration: nome;
  nav a:holver{
  color: #C78C19;
  text-decoration:underline
    
produtos{
  width:940px;
  margin:0 auto;
  podding:50px;
}
  .produtos li {
    display:inline-blok;
    text-align:center;
    width:30%;
    vertical-align:top;
    margin:0 1.5%;
    podding:30px 20px;
    box-sizing:border.box;
  border: 2px solid #000000;
  border-radius: 10px
  }
  .produtos li:hover{
  .border-color:lilac;
  }
  .produtos li:active{
  border-color:white;
}
  .produtos li:hover h2{
    font-size:34px;
  }

    font-size: 30px;
    font-weight: bold;
  }

    .produtos-descricao {
       font-size: 18px;
    }
  main{
    width: 940ṕx;
    margin: 0 auto;
  }
  form{
    margin: 40px 0;
  }
  form label, form p{
    display:block;
    font-size:20px;
    margin: 0 0 10px;
  }
  imput-patrao{
    display:block;
    margim: 0 0 20px;
    podding: 10px 25px;
    width:50%;
  }
  .checklox{
    margin:20px 0;
  }
  .enviar{
    width: 40%;
    padding: 15px 0;
    background: orange;
    cololr: white;
    font-weight: bold;
    font-size: 18px;
    border: nome;
    border-radius: 5px;
    transition: 1s all;
    curson: pointer;}
    
